/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "League Spartan", "Arial", system-ui, sans-serif;
  color: white;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--clr-main-bg);
}

img {
  display: block;
  font-style: italic;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
button {
  padding: 0;
}

fieldset {
  appearance: none;
  border: none;
  padding: 0;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Themes */

:root:has(.calculator__theme:first-of-type:checked) {
  --clr-main-bg: hsl(222, 26%, 31%);
  --clr-keypad-bg: hsl(223, 31%, 20%);
  --clr-screen-bg: hsl(224, 36%, 15%);
  --clr-key-text: hsl(221, 14%, 31%);
  --clr-action-key-shadow: hsl(224, 28%, 35%);
  --clr-action-key-bg: hsl(225, 21%, 49%);
  --clr-key-shadow: hsl(28, 16%, 65%);
  --clr-key-bg: hsl(30, 25%, 89%);
  --clr-calc-key-bg: hsl(6, 63%, 50%);
  --clr-calc-key-shadow: hsl(6, 70%, 34%);
}

:root:has(.calculator__theme:nth-of-type(2):checked) {
  --clr-main-bg: hsl(0, 0%, 90%);
  --clr-keypad-bg: hsl(0, 5%, 81%);
  --clr-screen-bg: hsl(0, 0%, 93%);
  --clr-key-text: hsl(60, 10%, 19%);
  --clr-action-key-shadow: hsl(185, 58%, 25%);
  --clr-action-key-bg: hsl(185, 42%, 37%);
  --clr-key-shadow: hsl(35, 11%, 61%);
  --clr-key-bg: hsl(45, 7%, 89%);
  --clr-calc-key-bg: hsl(25, 98%, 40%);
  --clr-calc-key-shadow: hsl(25, 99%, 27%);
  color: var(--clr-key-text);
}

:root:has(.calculator__theme:last-of-type:checked) {
  --clr-main-bg: hsl(268, 75%, 9%);
  --clr-keypad-bg: hsl(268, 71%, 12%);
  --clr-screen-bg: hsl(268, 71%, 12%);
  --clr-key-text: hsl(52, 100%, 62%);
  --clr-action-key-shadow: hsl(290, 70%, 36%);
  --clr-action-key-bg: hsl(268, 47%, 21%);
  --clr-key-shadow: hsl(285, 91%, 52%);
  --clr-key-bg: hsl(281, 89%, 26%);
  --clr-calc-key-bg: hsl(176, 100%, 44%);
  --clr-calc-key-shadow: hsl(177, 92%, 70%);
  color: var(--clr-key-text);
}

/* Calculator Styles */

.calculator {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 327px;
  margin: 0 auto;
}

.calculator__themes {
  display: flex;
  margin-left: auto;
}

.calculator__themes p {
  align-self: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.calculator__theme-labels {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.calculator__theme-labels > label:hover {
  cursor: pointer;
}

.calculator__theme-options {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 75px;
  background: var(--clr-keypad-bg);
  border-radius: 1rem;
  padding: 0.5rem;
}

.calculator__theme {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  aspect-ratio: 1;
}

.calculator__theme:hover {
  cursor: pointer;
}

.calculator__theme:checked {
  background: var(--clr-calc-key-bg);
}

.calculator__header {
  display: flex;
  align-items: center;
}

.calculator__screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 88px;
  padding: 24px;
  font-size: 40px;
  border-radius: 1rem;
  background: var(--clr-screen-bg);
}

.calculator__keys {
  display: grid;
  gap: 13px;
  padding: 24px;
  grid-template-columns: repeat(4, 60px);
  height: 420px;
  border-radius: 1rem;
  background: var(--clr-keypad-bg);
}

.calculator__key {
  appearance: none;
  border: none;
  max-width: 60px;
  font-size: 2rem;
  box-shadow: inset 0px -4px 0px var(--clr-key-shadow);
  background: var(--clr-key-bg);
  color: var(--clr-key-text);
  width: 100%;
  font-weight: 700;
  border-radius: 0.5rem;
  height: 64px;
}

.calculator__key:hover {
  cursor: pointer;
}

.calculator__keys .calculator__key--large {
  max-width: 224px;
  grid-column: span 2;
}

.calculator__key--action {
  box-shadow: inset 0px -4px 0px var(--clr-action-key-shadow);
  background: var(--clr-action-key-bg);
  color: white;
  font-size: 1.5rem;
  font-size: 20px;
}

.calculator__key--calc {
  box-shadow: inset 0px -4px 0px var(--clr-calc-key-shadow);
  background: var(--clr-calc-key-bg);
  color: white;
  font-size: 1.5rem;
  font-size: 20px;
}

@media only screen and (min-width: 640px) {
  .calculator {
    max-width: 540px;
  }
  .calculator__screen {
    height: 128px;
    padding: 2rem;
    font-size: 56px;
  }
  .calculator__keys {
    grid-template-columns: repeat(4, 100px);
    gap: 24px;
    padding: 2rem;
    height: 480px;
  }
  .calculator__key {
    max-width: 100px;
    border-radius: 1rem;
  }
}
